<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    <servlet>
        <servlet-name>ServletSupportPush</servlet-name>
        <servlet-class>Controller.ServletSupportPush</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>Controller.authentication.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>Controller.UserProfile.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapchaUserServlet</servlet-name>
        <servlet-class>Controller.UserProfile.CapchaUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>Controller.UserProfile.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoUserServlet</servlet-name>
        <servlet-class>Controller.UserProfile.UpdateInfoUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendcodeEmaillController</servlet-name>
        <servlet-class>Controller.ForgotPassword.sendcodeEmaillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword</servlet-name>
        <servlet-class>Controller.changepassword.Changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptcharServlet</servlet-name>
        <servlet-class>Controller.CaptcharServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>Controller.Captcha</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>ResendEmailForgot</servlet-name>
        <servlet-class>Controller.ForgotPassword.ResendEmailForgot</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>SendCodeToEmail</servlet-name>
        <servlet-class>Controller.ForgotPassword.SendCodeToEmail</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>VerifyPassswordOTP</servlet-name>
        <servlet-class>Controller.ForgotPassword.VerifyPassswordOTP</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogleHandler</servlet-name>
        <servlet-class>Controller.authentication.LoginWithGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>Controller.Register.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUserRegisterServlet</servlet-name>
        <servlet-class>Controller.Register.VerifyUserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendEmailServlet</servlet-name>
        <servlet-class>Controller.Register.ResendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByName</servlet-name>
        <servlet-class>Controller.ShopProduct.SearchProductByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByBrand</servlet-name>
        <servlet-class>Controller.ShopProduct.FilterByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPrice</servlet-name>
        <servlet-class>Controller.ShopProduct.FilterByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Controller.productdetail.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.Cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllOrderInformation</servlet-name>
        <servlet-class>Controller.Checkout.DisplayAllOrderInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductPaging</servlet-name>
        <servlet-class>Controller.ShopProduct.LoadProductPaging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>Controller.Cart.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Controller.comment.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>Controller.Cart.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMore</servlet-name>
        <servlet-class>Controller.productdetail.LoadMore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controller.Cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProduct</servlet-name>
        <servlet-class>Controller.ShopProduct.SortProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrders</servlet-name>
        <servlet-class>Controller.Checkout.AddToOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderDetails</servlet-name>
        <servlet-class>Controller.Order.DisplayOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Homepage.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrder</servlet-name>
        <servlet-class>Controller.Order.DisplayOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutByBalance</servlet-name>
        <servlet-class>Controller.Checkout.CheckoutByBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderListServlet</servlet-name>
        <servlet-class>Controller.ManageOrderList.ManageOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderListServlet</servlet-name>
        <servlet-class>Controller.ManageOrderList.DisplayOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>Controller.ManageOrderList.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserAcc</servlet-name>
        <servlet-class>Controller.manageruseraccount.ManageUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrder</servlet-name>
        <servlet-class>Controller.manageruseraccount.ShowOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserDetail</servlet-name>
        <servlet-class>Controller.manageruseraccount.ShowUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomAccount</servlet-name>
        <servlet-class>Controller.manageruseraccount.CustomAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSearchUser</servlet-name>
        <servlet-class>Controller.manageruseraccount.ManagerSearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleUserStatus</servlet-name>
        <servlet-class>Controller.manageruseraccount.ToggleUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOrderDetailToReport</servlet-name>
        <servlet-class>Controller.Report.sendOrderDetailToReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadReport</servlet-name>
        <servlet-class>Controller.AdminReport.loadReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptReport</servlet-name>
        <servlet-class>Controller.AdminReport.acceptReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refuseReport</servlet-name>
        <servlet-class>Controller.AdminReport.refuseReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Displaybrand</servlet-name>
        <servlet-class>Controller.brand.Displaybrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>Controller.brand.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreBrand</servlet-name>
        <servlet-class>Controller.brand.RestoreBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchbrand</servlet-name>
        <servlet-class>Controller.brand.Searchbrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addbrand</servlet-name>
        <servlet-class>Controller.brand.Addbrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletebrand</servlet-name>
        <servlet-class>Controller.brand.Deletebrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositHistory</servlet-name>
        <servlet-class>Controller.Transaction.DepositHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositTransaction</servlet-name>
        <servlet-class>Controller.Transaction.DepositTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDeposit</servlet-name>
        <servlet-class>Controller.Transaction.DisplayDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutByBanking</servlet-name>
        <servlet-class>Controller.CheckoutByBanking.CheckoutByBanking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFeedback</servlet-name>
        <servlet-class>Controller.ManageFeedback.ShowFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedback</servlet-name>
        <servlet-class>Controller.ManageFeedback.ReplyFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutBankingReturn</servlet-name>
        <servlet-class>Controller.CheckoutByBanking.CheckoutBankingReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderStatus</servlet-name>
        <servlet-class>Controller.Checkout.GetOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayResultPayment</servlet-name>
        <servlet-class>Controller.depositmoney.DisplayResultPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStatistic</servlet-name>
        <servlet-class>Controller.ManageStatistic.ShowStatistic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRevenueServlet</servlet-name>
        <servlet-class>Controller.ManageStatistic.ShowRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserServlet</servlet-name>
        <servlet-class>Controller.ManageStatistic.ShowUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnQueryResult</servlet-name>
        <servlet-class>Controller.CheckoutByBanking.vnQueryResult</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>SendCodeToEmail2</servlet-name>
        <servlet-class>Controller.ForgotPassword.SendCodeToEmail2</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>VerifyPasswordOTP2</servlet-name>
        <servlet-class>Controller.ForgotPassword.VerifyPasswordOTP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendEmailForgot2</servlet-name>
        <servlet-class>Controller.ForgotPassword.ResendEmailForgot2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword2</servlet-name>
        <servlet-class>Controller.changepassword.Changepassword2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeToEmail3</servlet-name>
        <servlet-class>Controller.ForgotPassword.SendCodeToEmail3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNews</servlet-name>
        <servlet-class>Controller.News.DisplayNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoriesNews</servlet-name>
        <servlet-class>Controller.News.GetCategoriesNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail</servlet-name>
        <servlet-class>Controller.News.NewsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGetNotification</servlet-name>
        <servlet-class>Controller.News.RegisterGetNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentNewsInsert</servlet-name>
        <servlet-class>Controller.News.CommentNewsInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayVoucher</servlet-name>
        <servlet-class>Controller.Voucher.GetVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRuleVoucher</servlet-name>
        <servlet-class>Controller.Voucher.GetRuleVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveVoucher</servlet-name>
        <servlet-class>Controller.Voucher.SaveVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckValidVoucher</servlet-name>
        <servlet-class>Controller.Checkout.CheckValidVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserVoucher</servlet-name>
        <servlet-class>Controller.Voucher.ShowUserVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoryNews</servlet-name>
        <servlet-class>Controller.ManageNewsCategory.ManageCategoryNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoriesNews</servlet-name>
        <servlet-class>Controller.ManageNewsCategory.SearchCategoriesNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoriesNews</servlet-name>
        <servlet-class>Controller.ManageNewsCategory.AddCategoriesNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoriesNews</servlet-name>
        <servlet-class>Controller.ManageNewsCategory.UpdateCategoriesNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreCategoriesNews</servlet-name>
        <servlet-class>Controller.ManageNewsCategory.RestoreCategoriesNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNews</servlet-name>
        <servlet-class>Controller.ManageNews.ManageNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewNews</servlet-name>
        <servlet-class>Controller.ManageNews.AddNewNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNews</servlet-name>
        <servlet-class>Controller.ManageNews.UpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>Controller.ManageNews.DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreNews</servlet-name>
        <servlet-class>Controller.ManageNews.RestoreNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVoucher</servlet-name>
        <servlet-class>Controller.ManageVoucher.ManageVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNews</servlet-name>
        <servlet-class>Controller.ManageNews.SearchNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewVoucher</servlet-name>
        <servlet-class>Controller.ManageVoucher.AddNewVoucher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProductCategoriesServlet</servlet-name>
        <servlet-class>Controller.admin.ViewProductCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductCardServlet</servlet-name>
        <servlet-class>Controller.admin.ViewProductCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryStatusServlet</servlet-name>
        <servlet-class>Controller.admin.UpdateCategoryStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>Controller.admin.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>Controller.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCardServlet</servlet-name>
        <servlet-class>Controller.admin.UpdateCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardServlet</servlet-name>
        <servlet-class>Controller.admin.AddCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFromExcelServlet</servlet-name>
        <servlet-class>Controller.admin.ImportFromExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositAjaxSvl</servlet-name>
        <servlet-class>Controller.depositmoney.DepositAjaxSvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositProcessing</servlet-name>
        <servlet-class>Controller.depositmoney.DepositProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositMoney</servlet-name>
        <servlet-class>Controller.depositmoney.DepositMoney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositMoney</servlet-name>
        <url-pattern>/depositmoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositAjaxSvl</servlet-name>
        <url-pattern>/depositajaxsvl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositProcessing</servlet-name>
        <url-pattern>/depositprocessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendcodeEmaillController</servlet-name>
        <url-pattern>/sendcodeemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/profileservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapchaUserServlet</servlet-name>
        <url-pattern>/capchauserservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/updatepasswordservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoUserServlet</servlet-name>
        <url-pattern>/updateinfouserservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addbrand</servlet-name>
        <url-pattern>/addBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptcharServlet</servlet-name>
        <url-pattern>/captchaservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>ResendEmailForgot</servlet-name>
        <url-pattern>/resendemailforgot</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>SendCodeToEmail</servlet-name>
        <url-pattern>/sendcodetoemail</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>VerifyPassswordOTP</servlet-name>
        <url-pattern>/verifypassswordotp</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleHandler</servlet-name>
        <url-pattern>/loginwithgooglehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/userregisterservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUserRegisterServlet</servlet-name>
        <url-pattern>/verifyuserregisterservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendEmailServlet</servlet-name>
        <url-pattern>/resendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByName</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByBrand</servlet-name>
        <url-pattern>/filterbybrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPrice</servlet-name>
        <url-pattern>/filterbyprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/deletefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductPaging</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllOrderInformation</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMore</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProduct</servlet-name>
        <url-pattern>/sortproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrders</servlet-name>
        <url-pattern>/addtoorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderDetails</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrder</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutByBalance</servlet-name>
        <url-pattern>/checkoutbybalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderListServlet</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderListServlet</servlet-name>
        <url-pattern>/displayorderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/searchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserAcc</servlet-name>
        <url-pattern>/manageruseracc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrder</servlet-name>
        <url-pattern>/showorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserDetail</servlet-name>
        <url-pattern>/showuserdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomAccount</servlet-name>
        <url-pattern>/custom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSearchUser</servlet-name>
        <url-pattern>/managersearchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleUserStatus</servlet-name>
        <url-pattern>/toggleuserstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOrderDetailToReport</servlet-name>
        <url-pattern>/sendorderdetailtoreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadReport</servlet-name>
        <url-pattern>/loadreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptReport</servlet-name>
        <url-pattern>/acceptreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refuseReport</servlet-name>
        <url-pattern>/refusereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Displaybrand</servlet-name>
        <url-pattern>/displaybrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchbrand</servlet-name>
        <url-pattern>/searchBrands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreBrand</servlet-name>
        <url-pattern>/restoreBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addbrand</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletebrand</servlet-name>
        <url-pattern>/deletebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/updateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositTransaction</servlet-name>
        <url-pattern>/depositTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDeposit</servlet-name>
        <url-pattern>/displayDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductCategoriesServlet</servlet-name>
        <url-pattern>/productcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductCardServlet</servlet-name>
        <url-pattern>/productcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryStatusServlet</servlet-name>
        <url-pattern>/updatecategorystatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCardServlet</servlet-name>
        <url-pattern>/updatecard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardServlet</servlet-name>
        <url-pattern>/addcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportFromExcelServlet</servlet-name>
        <url-pattern>/importfromexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutByBanking</servlet-name>
        <url-pattern>/checkoutbanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFeedback</servlet-name>
        <url-pattern>/displayfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedback</servlet-name>
        <url-pattern>/replyfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutBankingReturn</servlet-name>
        <url-pattern>/checkoutbankingreturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderStatus</servlet-name>
        <url-pattern>/getorderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayResultPayment</servlet-name>
        <url-pattern>/resultpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStatistic</servlet-name>
        <url-pattern>/showstatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRevenueServlet</servlet-name>
        <url-pattern>/showrevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserServlet</servlet-name>
        <url-pattern>/showuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnQueryResult</servlet-name>
        <url-pattern>/vnquery</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>SendCodeToEmail2</servlet-name>
        <url-pattern>/sendcodetoemail2</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>VerifyPasswordOTP2</servlet-name>
        <url-pattern>/verifypasswordotp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendEmailForgot2</servlet-name>
        <url-pattern>/resendemailforgot2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword2</servlet-name>
        <url-pattern>/changepassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeToEmail3</servlet-name>
        <url-pattern>/sendcodetoemail3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNews</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoriesNews</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail</servlet-name>
        <url-pattern>/newsdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGetNotification</servlet-name>
        <url-pattern>/registergetnotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentNewsInsert</servlet-name>
        <url-pattern>/sendcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayVoucher</servlet-name>
        <url-pattern>/voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRuleVoucher</servlet-name>
        <url-pattern>/getrulevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveVoucher</servlet-name>
        <url-pattern>/savevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckValidVoucher</servlet-name>
        <url-pattern>/checkvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserVoucher</servlet-name>
        <url-pattern>/showvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoryNews</servlet-name>
        <url-pattern>/managecategorynews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoriesNews</servlet-name>
        <url-pattern>/searchcategoriesnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoriesNews</servlet-name>
        <url-pattern>/addcategoriesnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoriesNews</servlet-name>
        <url-pattern>/updatecategoriesnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreCategoriesNews</servlet-name>
        <url-pattern>/restorecategoriesnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNews</servlet-name>
        <url-pattern>/managenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewNews</servlet-name>
        <url-pattern>/addnewnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNews</servlet-name>
        <url-pattern>/updatenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/deletenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreNews</servlet-name>
        <url-pattern>/restorenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVoucher</servlet-name>
        <url-pattern>/managevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNews</servlet-name>
        <url-pattern>/searchnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewVoucher</servlet-name>
        <url-pattern>/addnewvoucher</url-pattern>
    </servlet-mapping>
</web-app>
